# PANDAS

- PANDAS es "Python Data Analysis Library". El nombre proviene del término *Panel Data* que es un término econométrico para manejar conjuntos de datos multidimensionales.

- PANDAS es una biblioteca que provee de herramientas de alto desempeño, fáciles de usar, para manejar estructuras de datos y para su análisis. 

- PANDAS es un módulo que reúne las capacidades de Numpy, Scipy y Matplotlib.

- Véase https://pandas.pydata.org/ para más información.

- y en: https://vimeo.com/59324550

In [10]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

## Series

- Las `Series` son arreglos unidimensionales indexados basados en los arreglos de Numpy.
- Pueden almacenar cualquier tipo de dato: int, floats, strings, Python objects, etc.
- Se pueden ver como una estructura de datos con dos arreglos: uno para los índices y otr. para los objetos que contiene.

### Ejemplo

In [ ]:
obj = Series([3,6,9,12])
obj

In [ ]:
obj.values # Objetos de la serie

In [ ]:
obj.index # Índices de la serie

- Comparemos con los array de Numpy

In [ ]:
x = np.array([3,6,9,12])
x

In [ ]:
print(type(obj.values))
print(type(x))
print(type(obj), type(obj.index))

- Podemos definir los índices como queramos:

In [ ]:
monedas = Series([10.0,5.0,2.0,1.0,0.5,0.2,0.1],
                 index=['Diez','Cinco','Dos','Un','cincuenta','veinte','diez'])
monedas

In [ ]:
monedas['diez'] # Podemos acceder al los objetos de la Serie con el índice

In [ ]:
print('{: .52f}'.format(monedas['diez']))

In [ ]:
monedas[monedas > 0.3] # Podemos hacer operaciones más complicadas

In [ ]:
'veinte' in monedas # Es posible preguntar si un índice está en la Serie

In [ ]:
0.1 in monedas  # Es posible preguntar si un objeto está en la Serie

In [ ]:
# Es posible transformar la Serie en diferentes tipos
monedas_list = monedas.to_string()
monedas_list

In [ ]:
# Transformar la Serie a un diccionario:
monedas_dic = monedas.to_dict()
monedas_dic

In [ ]:
# Transformar la Serie en el formato CSV:
monedas.to_csv()

### Ejercicio
Escribir el resultado de `monedas.to_csv()` a un archivo.

In [ ]:
#f open
#f write, monedas.to_csv
#f close

In [ ]:
# Podemos transformar un diccionario en una Serie.
monedasX = Series(monedas_dic) # Regresa a la Seria pero en desorden
monedasX

In [ ]:
# Si queremos la serie en orden, lo podemos hacer vía los índices:
etiquetas = ['Diez','Cinco','Dos','Un','cincuenta','veinte','diez']
monedasY = Series(monedas_dic, index=etiquetas) # En orden!
monedasY

In [ ]:
# Incluso podemos agregar índices a los originales
etiquetas = ['Diez','Cinco','quarter','Dos','Un','cincuenta','veinte','diez']
monedasZ = Series(monedas_dic, index=etiquetas) # Hay un índice extra.
monedasZ

In [ ]:
# Podemos verificar si hay datos faltantes (NaN)
pd.isnull(monedasZ['quarter'])     # Operación de PANDAS

In [ ]:
pd.notnull(monedasZ['diez'])   # Operación de PANDAS

In [ ]:
# Podemos sumar dos Series
monedas + monedasY

In [ ]:
# No importa que las series estén en desorden, la suma es correcta!
monedas + monedasX

In [ ]:
# Incluso podemos sumar series que tengan diferente longitud:
monedas + monedasZ

In [ ]:
# Las series tienen comportamiento, por ejemplo:
nombre = Series(list('Luis Miguel de la Cruz Salas'))
nombre.unique()

In [ ]:
# Puede contar los objetos que hay en la Serie
nombre.value_counts()

In [ ]:
# Podemos tener una serie con índices en desorden:
serie = Series(range(5),index=['C','A','B','E','D'])
serie

In [ ]:
# La serie se puede ordenar a través de los índices
serie.sort_index()

In [ ]:
serie   # Ojo: el ordenamiento no se hizo "in place", es decir no se modificó la serie original

In [ ]:
# Aquí creamos una nueva serie ordenada, pero la original prevalece
serie_ordenada = serie.sort_index()

In [ ]:
serie_ordenada

In [ ]:
serie

In [ ]:
# Podemos ordenar la serie "in place", es decir se modifica la serie original
serie.sort_index(inplace=True)
serie

In [ ]:
# Se puede ordenar la serie usando los objetos que contiene
serie.sort_values()

In [ ]:
# Creemos otra serie con valores e índices desordenados
serie = Series([7,5,2,8,3],index=['C','A','B','E','D'])
serie

In [ ]:
# La siguiente función "rankea" las entradas de la serie de acuerdo al contenido de su objeto
serie.rank()

In [ ]:
# Si ordenamos la serie que pasa ¿?:
serie.sort_values()

In [ ]:
# Se pueden usar varias de las funciones de Numpy
serie + 3

In [ ]:
serie**2

In [ ]:
np.sin(serie)

In [ ]:
# Keep digging please!!

### La función `apply`
```python
Series.apply(func, conver_dtype=True, args(), **kwds)
```
- La función `func` será aplicada a la serie y regresa un objeto de tipo Series o DataFrame.

In [ ]:
serie.apply(np.sin)

- Podemos usar funciones lambda

In [ ]:
serie

In [ ]:
serie.apply(lambda x: x if x > 5 else x**2)

### Filtrar o completar datos faltantes

In [ ]:
nueva_serie = monedas + monedasZ
nueva_serie

In [ ]:
nueva_serie.dropna() # Desecha los NaN

In [ ]:
nueva_serie.fillna(3000) # Completa los NaN con 3000

## DataFrames

- La idea principal del os DaraFrames se basa en las hojas de cálculo.
- La estructura de un DataFrame son tablas similares a las hojas de cálculo.
- Contiene una colección ordenada de columnas.
- Cada columna consiste de un typo de dato único.
- Pero, diferentes columnas pueden tener diferens tipos: la primera columna podría contener cadenas, la segunda flotantes, la tercera Boleanos, etc.
- También tiene una columna de índice: es como un diccionario de Series con un índice común.

In [ ]:
# Mi primer DataFrame
dframe = DataFrame(np.arange(12).reshape(4,3))

In [ ]:
dframe

- En este ejemplo `dframe` se construye convirtiendo un arreglo multidimensional de **numpy** con la forma: 4 renglones X 3 columnas, en un objeto de tipo DataFrame, pre-llenado con los valores del 0 al 11. Los índices por omisión de los renglones van de 0 a 3 y los de las columnas de 0 a 2.

In [ ]:
type(dframe)

## Construir un DataFrame a partir de un diccionario

In [ ]:
datos = {'Delegación':['Coyoacán','Tlalpan','Xochimilco'],
         'Población':[837000,3880000,8400000]}
delegaciones = DataFrame(datos)
delegaciones

## Agregar una Serie a un DataFrame

In [ ]:
IMECAS = Series([90,100,120], index=[0,1,2])
print(IMECAS)
delegaciones['Cal. Aire'] = IMECAS
delegaciones

## Leer un DataFrame de un sitio web

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [6]:
pd.read_clipboard(engine='python')

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit https://pyperclip.readthedocs.org

In [7]:
# Antes de ejecutar esta celda, seleccione los 10 primeros renglones
# de la tabla, incluyendo los títulos y copialos al clipboard, es decir
# teclear [Ctrl + c]
nfl_frame = pd.read_clipboard(engine='python')

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit https://pyperclip.readthedocs.org

In [ ]:
nfl_frame

In [ ]:
type(nfl_frame)

In [ ]:
nfl_frame.columns # Lista las columnas del DataFrame

In [ ]:
nfl_frame['Total Games '] # Imprime la columa que concide con "Total Games "

In [ ]:
# Puedo crear un DataFrame elegiendo columnas de otro DataFrame
nuevo_DF = DataFrame(nfl_frame,columns=['Team ','First Season ','Total Games '])
nuevo_DF

In [ ]:
nfl_frame.head() # Los primeros 5 renglones

In [ ]:
nfl_frame.head(3) # Los primeos 3 renglones

In [ ]:
nfl_frame.tail(3) # Los últimos tres renglones

In [ ]:
nfl_frame.ix[3] # Ojo: esta función será eliminada en el futuro!

In [ ]:
nfl_frame.loc[3] # La función ix ha sido sustituida por loc, que permite acceder a un renglón

# Se pueden renombrar las columnas

In [ ]:
dframe

In [ ]:
dframe.rename(index={0:'a',1:'b',2:'c',3:'d'}, columns={0:'col1',1:'col2', 2:'col3'}, inplace=True)

In [ ]:
dframe

In [ ]:
nfl_frame.head(2)

In [ ]:
nfl_frame.rename(columns = {'Team ':'Equipo'}, inplace=True)

In [ ]:
nfl_frame.head(2)

In [ ]:
nfl_frame.

# Leyendo archivos CSV

In [11]:
dframe_wine = pd.read_csv('winequality-red.csv',sep=';') # Lectura de CSV

In [12]:
dframe_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [13]:
dframe_wine['alcohol'].mean() # Se puede calcular la media de una columna

10.422983114446502

In [14]:
dframe_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
6,7.9,0.600,0.06,1.6,0.069,15.0,59.0,0.99640,3.30,0.46,9.4,5
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.0,7
8,7.8,0.580,0.02,2.0,0.073,9.0,18.0,0.99680,3.36,0.57,9.5,7
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
10,6.7,0.580,0.08,1.8,0.097,15.0,65.0,0.99590,3.28,0.54,9.2,5
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
12,5.6,0.615,0.00,1.6,0.089,16.0,59.0,0.99430,3.58,0.52,9.9,5
13,7.8,0.610,0.29,1.6,0.114,9.0,29.0,0.99740,3.26,1.56,9.1,5
14,8.9,0.620,0.18,3.8,0.176,52.0,145.0,0.99860,3.16,0.88,9.2,5
15,8.9,0.620,0.19,3.9,0.170,51.0,148.0,0.99860,3.17,0.93,9.2,5
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7
17,8.1,0.560,0.28,1.7,0.368,16.0,56.0,0.99680,3.11,1.28,9.3,5
18,7.4,0.590,0.08,4.4,0.086,6.0,29.0,0.99740,3.38,0.50,9.0,4
19,7.9,0.320,0.51,1.8,0.341,17.0,56.0,0.99690,3.04,1.08,9.2,6
20,8.9,0.220,0.48,1.8,0.077,29.0,60.0,0.99680,3.39,0.53,9.4,6
21,7.6,0.390,0.31,2.3,0.082,23.0,71.0,0.99820,3.52,0.65,9.7,5
22,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
23,8.5,0.490,0.11,2.3,0.084,9.0,67.0,0.99680,3.17,0.53,9.4,5
24,6.9,0.400,0.14,2.4,0.085,21.0,40.0,0.99680,3.43,0.63,9.7,6
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.99550,3.34,0.56,9.3,5
26,7.6,0.410,0.24,1.8,0.080,4.0,11.0,0.99620,3.28,0.59,9.5,5
27,7.9,0.430,0.21,1.6,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
28,7.1,0.710,0.00,1.9,0.080,14.0,35.0,0.99720,3.47,0.55,9.4,5
29,7.8,0.645,0.00,2.0,0.082,8.0,16.0,0.99640,3.38,0.59,9.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1569,6.2,0.510,0.14,1.9,0.056,15.0,34.0,0.99396,3.48,0.57,11.5,6
1570,6.4,0.360,0.53,2.2,0.230,19.0,35.0,0.99340,3.37,0.93,12.4,6
1571,6.4,0.380,0.14,2.2,0.038,15.0,25.0,0.99514,3.44,0.65,11.1,6
1572,7.3,0.690,0.32,2.2,0.069,35.0,104.0,0.99632,3.33,0.51,9.5,5
1573,6.0,0.580,0.20,2.4,0.075,15.0,50.0,0.99467,3.58,0.67,12.5,6
1574,5.6,0.310,0.78,13.9,0.074,23.0,92.0,0.99677,3.39,0.48,10.5,6
1575,7.5,0.520,0.40,2.2,0.060,12.0,20.0,0.99474,3.26,0.64,11.8,6
1576,8.0,0.300,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1577,6.2,0.700,0.15,5.1,0.076,13.0,27.0,0.99622,3.54,0.60,11.9,6
1578,6.8,0.670,0.15,1.8,0.118,13.0,20.0,0.99540,3.42,0.67,11.3,6
1579,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1580,7.4,0.350,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1581,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5
1583,6.2,0.460,0.29,2.1,0.074,32.0,98.0,0.99578,3.33,0.62,9.8,5
1584,6.7,0.320,0.44,2.4,0.061,24.0,34.0,0.99484,3.29,0.80,11.6,7
1585,7.2,0.390,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.310,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6
1588,7.2,0.660,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1590,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

# Agrupación, agregación y funciones definidas por el usuario

In [15]:
def difMaxMin(arr):
    """
    Calcula la diferencia entre el valor mínimo y máximo de un arreglo.
    """
    return arr.max() - arr.min()

In [16]:
wino = dframe_wine.groupby('quality') # Agrupa una serie
print(type(wino))                     # regresa un DataFrame agrupado
print(type(dframe_wine))

<class 'pandas.core.groupby.DataFrameGroupBy'>
<class 'pandas.core.frame.DataFrame'>

In [17]:
print(wino) # Solo puestra el tipo de objeto

<pandas.core.groupby.DataFrameGroupBy object at 0x7f2551867358>

In [20]:
wino.describe() # Muestra el DataFrame agrupado

        alcohol                                                          \
          count       mean       std  min     25%     50%     75%   max
quality
3          10.0   9.955000  0.818009  8.4   9.725   9.925  10.575  11.0
4          53.0  10.265094  0.934776  9.0   9.600  10.000  11.000  13.1
5         681.0   9.899706  0.736521  8.5   9.400   9.700  10.200  14.9
6         638.0  10.629519  1.049639  8.4   9.800  10.500  11.300  14.0
7         199.0  11.465913  0.961933  9.2  10.800  11.500  12.100  14.0
8          18.0  12.094444  1.224011  9.8  11.325  12.150  12.875  14.0

        chlorides            ...   total sulfur dioxide         \
            count      mean  ...                    75%    max
quality                      ...
3            10.0  0.122500  ...                   42.5   49.0
4            53.0  0.090679  ...                   49.0  119.0
5           681.0  0.092736  ...                   84.0  155.0
6           638.0  0.084956  ...                   54.0  165.0
7           199.0  0.076588  ...                   43.0  289.0
8            18.0  0.068444  ...                   43.0   88.0

        volatile acidity                                                   \
                   count      mean       std   min     25%    50%     75%
quality
3                   10.0  0.884500  0.331256  0.44  0.6475  0.845  1.0100
4                   53.0  0.693962  0.220110  0.23  0.5300  0.670  0.8700
5                  681.0  0.577041  0.164801  0.18  0.4600  0.580  0.6700
6                  638.0  0.497484  0.160962  0.16  0.3800  0.490  0.6000
7                  199.0  0.403920  0.145224  0.12  0.3000  0.370  0.4850
8                   18.0  0.423333  0.144914  0.26  0.3350  0.370  0.4725


           max
quality
3        1.580
4        1.130
5        1.330
6        1.040
7        0.915
8        0.850

[6 rows x 88 columns]

- Obsérvese que la función groupby() también calcula algunos datos estadísticos y ordena el resultado por el nombre de la columna (orden alfabético).

In [ ]:
wino.agg(difMaxMin) # Ahora aplicamos nuestra función

In [ ]:
wino.agg('mean') # También podemos aplicar una función ya definida en la biblioteca
                 # sum, min, max, std, count, ...

### Agregando una columna a nuestro DataFrame

In [ ]:
dframe_wine.head()

In [ ]:
# Agrega la columna realizando un cálculo entre valores de otras columnas
dframe_wine['qual/alc ratio'] = dframe_wine['quality'] / dframe_wine['alcohol']

In [ ]:
dframe_wine.head()

In [ ]:
dframe_wine.head() # recordemos como es el DataFrame original

# Graficación con matplotlib

In [ ]:
%matplotlib inline

In [ ]:
dframe_wine.plot(kind='scatter',x='quality',y='alcohol')

In [ ]:
dframe_wine.sort_values('alcohol',ascending = False,inplace=True)

In [ ]:
dframe_wine.head()

In [ ]:
num_of_qual = dframe_wine['quality'].value_counts()

In [ ]:
num_of_qual

In [ ]:
dframe_wine[dframe_wine.alc_cont_rank == 1].head(10)

# Graficación con `matplotlib`

In [ ]:
dframe = pd.read_table('pets.txt',sep=' ')
dframe

In [ ]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [ ]:
dataset1 = np.random.randn(100)

In [ ]:
plt.hist(dataset1)

In [ ]:
dataset2 = np.random.randn(80)
plt.hist(dataset2,color='green')

In [ ]:
plt.hist(dataset1,normed=True,color='green',alpha=0.5,bins=20)
plt.hist(dataset2,normed=True,color='red',alpha=0.75,bins=20)
plt.grid()

# Graficación con `seaborn`

In [ ]:
import seaborn as sns

In [ ]:
data1 = np.random.randn(1000)
data2 = np.random.randn(1000)

In [ ]:
sns.jointplot(data1,data2)

In [ ]:
sns.jointplot(data1,data2,kind='hex')

# Cálculos complicados (Pivot Tables, etc...)

- No se como funciona esto :(
- Tutorial: http://pbpython.com/pandas-pivot-table-explained.html

In [ ]:
dframe_wine.pivot_table(index=['quality'])

In [ ]:
def ranker(df):
    df['alc_cont_rank'] = np.arange(len(df)) + 1
    return df

dframe_wine = dframe_wine.groupby('quality').apply(ranker)

dframe_wine.head(10)